@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,300italic,300);

body, html{
	padding: 0;
	margin: 0;
	background: #e67e22;
	text-align: center;
	font-family: 'Open Sans';
	-webkit-overflow-scrolling: touch;
}

section{
	padding-bottom: 100px;
	padding-top: 100px;
	width: 100%;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
}

section a{
	color: white;
	font-weight: 600;
}

section a:hover{
	color: white;
}

h1{
	font-size: 6vw;
	font-weight: 600;
}

h2{
	font-size: 3vw;
}

p{
	font-size: 1.4em;
	font-weight: 300;
}


.alert-top{
	position: fixed;
	z-index: 100;
	background: rgba(255, 255, 255, 0.97);
	width: 100%;
	border-radius: 0;
	margin-top: 0;
	margin-bottom: 0;
	transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	-webkit-transform: translateY(-100px);

	-webkit-transition: .5s cubic-bezier(0.42,0,0.01,1); /* Safari */
	    transition: .5s cubic-bezier(0.42,0,0.01,1);
}

#qrModal{
	text-align: center;
	font-size: 1.2em;
	word-wrap: break-word;
}

/* *************************************
 *            Introduction             *
 * *********************************** */

#introduction{
	margin: 0;
	background: #2980b9;
	vertical-align: middle;
}

.company-name{
	font-weight: 600;
}


/* *************************************
 *              About-me               *
 * *********************************** */

#about-me{
	margin: 0;
	width: 100%;
	background: #34495e;
	position: relative;
	z-index: 1;
}

#UAMapWrapper{
	margin-top: 50px;
	margin-bottom: 50px;
}

#UAMap { 
	margin: 0 auto;
	height: 420px;
	width: 100%;

	margin-top: 50px;
}

#UAMap{
	pointer-events: none;
}





.portrait{
	position: absolute;
	z-index: -1;
	left: 45%;
	top: -80px;
	width: 140px;
	border: 10px solid white;
	-ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
}



.list-inline{
	max-width: 100%;

}

.list-inline li{
	font-size: 1.3em;
}

.iconStudy{
	border-radius: 50%;
	border: 3px solid #86C0CE;
	width: 10vw;
}



#studyAreas p{
	bottom: 0;
	padding-bottom: 80px;
	font-size: .75em;
	width: 80%;
	margin: auto auto;
	/*border: 1px solid white;
	border-radius: 50%;*/
	transform: translate3d(0,10px,0);
}



/* *************************************
 *             What I like             *
 * *********************************** */

#last-projects{
	background: #8e44ad;
}

#last-projects h2{
	margin-bottom: 50px;

}

#githubRepos{
	margin-bottom: 50px;
}

.githubCard{
	width: 100%;
	height: 280px;
	background: white;
	border-radius: 3px;
	color: #444444;
	text-align: left;
	margin-bottom: 20px;
}

.githubCard h4{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: white;
	padding: 15px 0px 15px 20px;
	background: #2C3E50;

}

.githubCard h3{
	padding: 0px 20px 2px 20px;
	overflow: hidden;
	white-space: nowrap; /* Don't forget this one */
	text-overflow: ellipsis;
}

.githubCard hr {
    border-bottom: 1px solid #D8D8D8;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
}

.githubCard p{
	color: #808080;
	font-size: 1.2em;
    text-align: inherit;
    padding: 20px 20px 20px 20px;
    height: 85px;
}

.githubCard a{
	color: #808080;
	font-size: 1.2em;
    text-align: inherit;
    padding: 20px 20px 20px 20px;
    height: 65px;
}

.githubCard a:hover{
	color: black;
}




/* *************************************
 *     Today / Tomorrow / Downloads    *
 * *********************************** */

#today{
	background: #27ae60;
}

#SligoMapWrapper{
	margin-top: 50px;
	margin-bottom: 50px;
}

#SligoMap { 
	margin: 0 auto;
	height: 420px;
	width: 100%;
	margin-top: 50px;
}

#SligoMap{
	pointer-events: none;
}

#tomorrow{
	background: #D81B1C;
}

#downloads{
	background: #95a5a6;
}

#downloads p{
	margin-bottom: 60px;
}

#downloads a{
	border: 2px dashed #717d7e;
	border-radius: 6px;
	color: #ecf0f1;
	margin: 0 30px;
}

#downloads a:hover{
	text-decoration: none;
	background: rgba(113,125,126,0.7);
	color: white;
}

#coverLetterDownload a{
	padding: 20px 30px;
}

#resumeDownload a{
	padding: 20px 45px;
}

#recommDownload a{
	padding: 20px 30px;
}

#coverLetterDownload, #resumeDownload, #recommDownload{
	height: 80px;
	display: inline;
}

@media (max-width: 800px){
	#coverLetterDownload, #resumeDownload, #recommDownload{
		display: block;
	}
}

/* *************************************
 *              Bootstrap              *
 * *********************************** */



.row-centered {
    margin: 0 auto;
     width: 100%;
}



@media (max-width: 570px){
	h1{
		font-size: 10vw;
	}

	h2{
		font-size: 7vw;
	}

	.portrait{
		left: 35%;
	}
}