
<!DOCTYPE html>
<html>
<head>
	<title>Alex Torres - Cover Letter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel=stylesheet href="/public/style/style.css">

</head>
<body>


	<div id="alert-connect" class="alert alert-top" role="alert">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<p><strong>Hey ya!</strong> Would you like to control this website with your mobile? <strong><a href="#" onclick="$('#qrModal').modal('show'); $(this).alert('close');">Click here</a></strong>.</p>
	</div>

	<div id="alert-shake" class="alert alert-top" role="alert">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<p><strong>You don't like this colors?</strong> Shake your mobile and change them!</p>
	</div>

	<section id="introduction">
		<h1>Hey! I am Alex Torres</h1>
		<p>I created this interactive cover letter concerning my application for an internship as a Frontend Developer in <span class="company-name">Delivery Hero</span>.</p>
	</section>

	<section id="about-me">
		<img id="portrait" src="/public/images/me.png" alt="Photo of myself">

		<h1>This is me</h1>
		<p>I am a Spanish student enrolled in the Multimedia Engineering Bachelor in the University of Alicante, Spain.</p>
		<div id="UAMapWrapper">
			<h2>This is actually, here:</h2>
			<div id="UAMap"></div>
		</div>
		<br>
		<p>In this degree I studied a very wide range of areas: </p>
		<br>
		<ul id="studyAreas" class="list-inline row row-centered">
		    <li class="col-lg-2">
		    	<object type="image/svg+xml" data="/public/images/CS.svg" class="iconStudy"></object><br><br>

		    	Software

	    		<p>I used to develop desktop and mobile applications with <strong>Java</strong> and <strong>C#</strong>.</p>
		    </li>
		    <li class="col-lg-2">
		    	<object type="image/svg+xml" data="/public/images/nodejs.svg" class="iconStudy"></object><br><br>
		    	Web
	    		<p>Also web applications with <strong>PHP, HTML, CSS and NodeJS</strong>. I'm in love with the <strong>MEAN</strong> stack.</p>


	    	</li>
		    <li class="col-lg-2">
		    	<object type="image/svg+xml" data="/public/images/glasses.svg" class="iconStudy"></object><br><br>

		    	Design
	    		<p>Plus, I like the well designed apps and I always try to look for the details of the <strong>UI/UX</strong>.</p>


		    </li>
		    <li class="col-lg-2">
		    	<object type="image/svg+xml" data="/public/images/soundDev.svg" class="iconStudy"></object><br><br>
		    	Sound
	    		<p>I had studied <strong>CSound</strong>, for programming sounds with C. Also the physics of the sounds.</p>


		    </li>
		    <li class="col-lg-2">
		    	<object type="image/svg+xml" data="/public/images/video.svg" class="iconStudy"></object><br><br>
		    	Video
	    		<p>Some of <strong>3Ds Max Studio and Adobe Premier / After Effects</strong>. I have done some videos as well. </p>

	    	</li>
		    <li class="col-lg-2">
		    	<object type="image/svg+xml" data="/public/images/games.svg" class="iconStudy"></object><br><br>
		    	Games
	    		<p>And of course, games development. I used <strong>SFML</strong> that is a C++ library and a JavaScript library called <strong>ImpactJs</strong>. And now I am playing around <strong>MonoGame</strong>, a framework for XNA (C#).</p>

	    	</li>
		</ul>
	</section>

	<section id="last-projects">
		<h1>My last projects</h1>
		<h2>I love new technologies: These are my last repositories in <a href="https://github.com/AlexRex">Github</a></h2>
		<div id="githubRepos" class="row">
			<div class="row-centered"></div>
		</div>

	</section>

	<section id="today">
		<h1>Today</h1>
		<p>Now I am in the <strong>Institute of Technology of Sligo, in Ireland</strong>, taking my first semester of the last year with a scholarship.</p>

		<div id="SligoMapWrapper">
			<h2>And this is here:</h2>
			<div id="SligoMap"></div>
		</div>

		<p>But I almost finished my staying here and I am pursuing to do an internship in Germany for the second semester.</p>
	</section>
	<% if (company_name.length > 0) { %>
	<section id="tomorrow" style="background:<%= color %>">
		<h1>Why <%= company_name %></h1>
		<p><%- company_desc %></p>
	</section>

	<% } %>

	

	

	

	<section id="downloads">
		<h1>Formal documents</h1>
		<p>Maybe after this you still want to take a look at a standard cover letter and, of course, my resume. <br> Also a recommendation letter from one of my former lecturers. <br> You can download them here: </p>
		<div id="coverLetterDownload">
			<a href="/public/downloads/Alejandro_Torres_Mateu_cover_letter.pdf" >Cover Letter</a>
		</div>
		<div id="recommDownload">
			<a href="/public/downloads/Alejandro_Torres_Mateu_recommendation_letter.pdf" >Recommendation Letter</a>
		</div>
		<div id="resumeDownload">
			<a href="/public/downloads/Alejandro_Torres_Mateu_resume.pdf" >Resume</a>
		</div>

		

	</section>

	<div id="alert-bottom" class="alert alert-bottom" role="alert">
		<p>You can take a look at this project in my <strong>Github <a href="https://github.com/AlexRex/CoverLetter">repository</a>. </strong></p>
	</div>


	<div class="modal fade" id="qrModal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Hey! Look at this!</h4>
	      </div>
	      <div class="modal-body">
	        <p>Scan this QR code with your mobile: </p>
	        <img id="qrCode"></img>
	        <p id="linkCode"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>


<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/main.js"></script>


<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqRQeHrY8CHjwhQa-IzB9b-QTzJT5jgP8&callback=initMap">
</script>	
</html>
