@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,300italic,300);

body, html{
	padding: 0;
	margin: 0;
	width: 100%;
	background: #3498db;
	text-align: center;
	font-family: 'Open Sans';
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

section{
	padding-bottom: 100px;
	padding-top: 100px;
	width: 100%;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
}

section a{
	color: white;
	font-weight: 600;
}

section a:hover{
	color: white;
}

h1{
	font-size: 6vw;
	font-weight: 600;
}

h2{
	font-size: 3vw;
}

p{
	font-size: 1.4em;
	font-weight: 300;
}


.alert{
	border-radius: 0;
	margin-top: 0;
	margin-bottom: 0;
}

#qrModal{
	text-align: center;
	font-size: 1.2em;
}

/* *************************************
 *            Introduction             *
 * *********************************** */

#introduction{
	margin: 0;
	background: #d35400;
	vertical-align: middle;
}

.company-name{
	font-weight: 600;
}


/* *************************************
 *              About-me               *
 * *********************************** */

#about-me{
	margin: 0;
	width: 100%;
	background: #34495e;
}

#UAMapWrapper{
	margin-top: 50px;
	margin-bottom: 50px;
}

#UAMap { 
	margin: 0 auto;
	height: 300px;
	width: 500px;
	max-height: 500px;
	max-width: 500px;
	border: 3px solid #86C0CE;
}

@media (max-width: 560px){
	#UAMap{
		width: 260px;
		height: 280px;
	}
}

.list-inline{
	max-width: 100%;

}

.list-inline li{
	font-size: 1.3em;
}

.iconStudy{
	border-radius: 50%;
	border: 3px solid #86C0CE;
	width: 10vw;
}



#studyAreas p{
	bottom: 0;
	padding-bottom: 80px;
	font-size: .7em;
	width: 80%;
	margin: auto auto;
	/*border: 1px solid white;
	border-radius: 50%;*/
	transform: translate3d(0,10px,0);
}



/* *************************************
 *             What I like             *
 * *********************************** */

#what-i-like{
	background: #8e44ad
}

#githubRepos{
	margin-top: 50px;

}

.githubCard{
	width: 100%;
	height: 280px;
	background: white;
	border-radius: 3px;
	color: #444444;
	text-align: left;
	margin-bottom: 20px;
}

.githubCard h4{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: white;
	padding: 15px 0px 15px 20px;
	background: #2C3E50;

}

.githubCard h3{
	padding: 0px 20px 2px 20px;
	overflow: hidden;
	white-space: nowrap; /* Don't forget this one */
	text-overflow: ellipsis;
}

.githubCard hr {
    border-bottom: 1px solid #D8D8D8;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
}

.githubCard p{
	color: #808080;
	font-size: 1.2em;
    text-align: inherit;
    padding: 20px 20px 20px 20px;
    height: 85px;
}

.githubCard a{
	color: #808080;
	font-size: 1.2em;
    text-align: inherit;
    padding: 20px 20px 20px 20px;
    height: 65px;
}

.githubCard a:hover{
	color: black;
}
/* *************************************
 *                Today                *
 * *********************************** */

#today{
	background: #27ae60;
}



/* *************************************
 *              Bootstrap              *
 * *********************************** */



.row-centered {
    margin: 0 auto;
     width: 100%;
}

